:host {
  display: block;
  margin: 20px;
  text-align: center;
}

.cart-items {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px auto;
  max-width: 800px;

  mat-card {
    margin: 5px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;

    &:last-child {
      padding-bottom: 10px;
    }
  }

  mat-card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 100%;
  }

  a.cart-item-image {
    width: 60px;
    flex-grow: 0;
    align-self: flex-start;
    margin-top: 10px;
    display: block;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .first-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }

  .first-row .title {
    flex-grow: 1;
  }

  .first-row .title a {
    color: #000;
    text-decoration: none;
  }

  .first-row .remove {
    color: rgba(0, 0, 0, 0.4);
    flex-grow: 0;
    margin: -12px;

    mat-icon {
      font-size: 1.2rem;
    }
  }

  .second-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-bottom: -1rem;

    .label {
      margin-top: 6px;
      margin-right: 10px;
    }

    .input {
      margin-right: 20px;
      width: 60px;
    }

    .amount {
      flex-grow: 1;
      text-align: right;
      margin-right: 0;
    }
  }
}

.total {
  margin: 20px 0;
  font-weight: bold;
  text-align: center;

  > * {
    display: inline-block;
    margin: 10px;
  }
}

.buttons {
  margin: 20px auto;
  max-width: 500px;

  > * {
    width: 100%;
  }
}

a {
  color: #000000;
}
