html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-form-field.app-input-no-underline .mat-form-field-underline {
  opacity: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
