:host {
  display: block;
  margin: 20px;
}

.item-details {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 3fr;

  img {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
  }

  .details {
    margin-right: 3rem;
  }

  .options {
    display: flex;
    flex-direction: column;

    .size-option,
    .quantity-option,
    .mat-form-field-flex {
      background-color: #fff;
    }
  }

  .buttons {
    margin-top: 2rem;
    gap: 1rem;

    > * {
      width: 100%;
      margin: 0.2rem 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .item-details {
    grid-template-columns: 1fr;

    .details {
      margin-right: 0rem;
    }
  }
}
